.Card {
  width: 70px;
  height: 98px;
  margin: 4px;
  padding: 1px;
  border-radius: 5px;
  
  img {
    height: inherit;
    width: inherit;
  }

  .blank {
    width: inherit;
    height: inherit;
    background-color: hsl(0,0,90%);
    border: 1px solid rgba(255,130,90,0.8);
    border-radius: inherit;
  }

  &.selected {
    margin: 3px;
    border: 1px solid #63DFFF;  
  }

  &:hover {
    .blank {
      border: 1px solid #63DFFF;  
    }
  }
}

